@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'KumbhBold';
    src: url('./assets/fonts/KumbhSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'KumbhRegular';
    src: url('./assets/fonts/KumbhSans-Regular.ttf') format('truetype');
}

@layer base {
    h1 {
        @apply font-KumbhBold  text-dark text-[56px];
    }

    h2 {
        @apply font-KumbhBold text-dark text-[20px] leading-[28px];
    }

    h3 {
        @apply font-KumbhBold text-lightGray text-base uppercase leading-[48px] tracking-[5px];
    }

    p {
        @apply font-KumbhRegular text-lightGray text-[18px] leading-[28px];
    }

    button {
        @apply font-KumbhBold rounded-[28px];
    }
}

@layer components {
    #root {
        @apply relative m-0 max-w-[100vw] overflow-hidden p-0;
    }
}
