@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'KumbhBold';
    src: url('./assets/fonts/KumbhSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'KumbhRegular';
    src: url('./assets/fonts/KumbhSans-Regular.ttf') format('truetype');
}

@layer base {
    h1 {
        @apply font-KumbhBold  text-[56px] text-dark;
    }

    h2 {
        @apply font-KumbhBold text-[20px] leading-[28px] text-dark;
    }

    h3 {
        @apply font-KumbhBold text-base uppercase leading-[48px] tracking-[5px] text-lightGray;
    }

    p {
        @apply font-KumbhRegular text-[18px] leading-[28px] text-lightGray;
    }

    button {
        @apply rounded-[28px] font-KumbhBold;
    }

    input {
        @apply focus:outline-none;
    }
}

@layer components {
    #root {
        @apply relative m-0 max-w-[100vw] overflow-x-hidden p-0 h-screen;
    }
}
